footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin: auto;
  }

  /* Navigation Bar */
.navbar {
    background-color: #004d99; /* Dark blue background */
    padding: 10px 20px; /* Add some padding for spacing */
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Optional: add shadow for depth */
}



.navbar a.nav-link {
    color: #ffffff; /* Light text color for contrast */
    margin-right: 15px; /* Space between links */
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.navbar a.nav-link:hover, .navbar a.nav-link.active {
    color: #cceeff; /* Lighter blue on hover/active */
}

/* For sticky top bar */
.navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure navbar is above other content */
}

.nav-link {
    transition: color 0.2s ease-in-out; /* Smooth transition for color change */
}

.nav-link:hover, .nav-link:focus {
    color: #d4d4d4; /* Lighter shade when hovered or focused */
}

.dropdown-menu {
    background-color: #eef1f3; /* Slightly darker than the navbar for contrast */
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #cbddf1; /* Even darker on hover/focus for distinction */
}

.content-section {
    opacity: 0; /* Start with sections hidden */
    transition: opacity 0.5s ease-out; /* Smooth transition for opacity changes */
    display: none; /* Initially, sections are not displayed */
  }
  
  /* You might add a class in your JavaScript to handle the display block, like this: */
  .content-section.active {
    display: block; /* Active sections are displayed */
    opacity: 1; /* Active sections are fully opaque */
  }

  /* Base (Light Theme) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #0000ee;
  }
  
  /* Dark Theme */
  .dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --link-color: #0096ff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
  }
  .card-title{
    color: #000000;
  }
  .card-header{
    color:#000000
  }